@use "../layout/variables" as *;
@use "../layout/colors" as *;
@use "../layout/mixins" as *;
@use "../layout/typography" as *;

.services {
	padding: 64px 0;

	@media (min-width: $pc) {
		padding: 128px 0 126px;
	}

	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 64px;
	}

	&__subtitle {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		column-gap: 16px;
		row-gap: 31px;

		@media (min-width: $pc) {
			gap: 24px;
		}
	}

	&__card {
		width: 100%;
		min-width: 256px;
		flex: 1 0 0;

		@media (min-width: $pc) {
			min-width: 376px;
		}
	}

	&__list {
		width: 100%;
		min-width: 256px;
		flex: 1 0 0;
	}
}

.header-services {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 24px;

	&__right-col {
		min-width: 256px;
		max-width: 576px;
		align-items: flex-start;
		flex: 1 0 0;
		margin-left: auto;
		margin-right: 16px;

		@media (min-width: $pc) {
			flex: none;
			max-width: 540px;
			margin-right: 32px;
		}
	}
}

// .services-archive-page {
// 	.hero-two-column {
// 		gap: 16px;

// 		@media (min-width: $pc) {
// 			gap: 24px;
// 		}
// 	}

// 	.hero-two-column__text-block {
// 		padding-right: 24px;

// 		&::before {
// 			right: 0;
// 			left: unset;
// 		}
// 	}

// 	.hero-two-column__description {
// 		&:not(:last-child) {
// 			margin-bottom: 16px;
// 		}

// 		&::before {
// 			top: unset;
// 			bottom: -16px;

// 			@media (min-width: $pc) {
// 				display: block;
// 			}
// 		}
// 	}

// 	.hero-two-column__right-col {
// 		order: 1;

// 		@media (min-width: $pc) {
// 			max-width: 876px;
// 			width: 100%;
// 			flex: none;
// 		}
// 	}

// 	.hero-two-column__left-col {
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 24px;
// 		order: 2;

// 	}
// }

// .services-hero {
// 	position: relative;
// 	padding: 48px 0;

// 	@media (min-width: $pc) {
// 		padding: 128px 0;
// 	}

// 	.quote {

// 		&__inner {
// 			display: flex;
// 			flex-direction: row;
// 			flex-wrap: wrap;
// 			align-items: center;
// 			column-gap: 24px;
// 			row-gap: 8px;
// 		}

// 		&__header {
// 			width: 100%;
// 			max-width: 224px;
// 			min-width: 224px;

// 			&:not(:last-child) {
// 				margin-bottom: 0;
// 			}
// 		}

// 	}

// 	&__container {
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 32px;

// 		&>.services-hero__quote {
// 			@media (min-width: $pc) {
// 				display: none;
// 			}
// 		}
// 	}

// 	&__content {
// 		display: flex;
// 		flex-wrap: wrap;
// 		justify-content: center;
// 		gap: 48px;

// 		@media (min-width: $pc) {
// 			column-gap: 124px;
// 			align-items: center;
// 		}
// 	}

// 	&__left-col {
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 24px;
// 		min-width: 256px;
// 		flex: 1 0 0;

// 		@media (min-width: $pc) {
// 			flex: none;
// 			width: 100%;
// 			max-width: 476px;
// 			row-gap: 32px;
// 		}
// 	}

// 	&__title {
// 		color: var(--navigator-color-palette-amazon-resin-source);
// 		font-size: 31px;
// 		line-height: 1.3;

// 		@media (min-width: $pc) {
// 			font-size: 49px;
// 		}
// 	}

// 	&__buttons {
// 		display: flex;
// 		align-items: center;
// 		column-gap: 16px;
// 	}

// 	&__right-col {
// 		position: relative;

// 		.quote {
// 			display: none;
// 		}

// 		@media (min-width: $pc) {
// 			width: 100%;
// 			max-width: 576px;

// 			.quote {
// 				display: block;
// 				position: absolute;
// 				bottom: 20px;
// 				left: -64px;
// 				max-width: 440px;

// 				&__inner {
// 					row-gap: 24px;
// 				}

// 				&__author {
// 					row-gap: 4px;
// 				}
// 			}
// 		}
// 	}

// 	&__image-holder {
// 		@media (min-width: $pc) {
// 			img {
// 				width: 100%;
// 				height: 100%;
// 				object-fit: cover;
// 			}
// 		}
// 	}

// }

// .stats {
// 	padding: 64px 0;
// 	background: var(--additional-colors-back-for-accent);

// 	&__container {
// 		display: flex;
// 		align-items: center;
// 		gap: 48px;
// 		justify-content: space-between;
// 		flex-wrap: wrap;

// 		@media (min-width: $pc) {
// 			gap: 124px;
// 		}
// 	}

// 	&__header {
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 4px;
// 		min-width: 256px;
// 		flex: 1 0 0;

// 		@media (min-width: $pc) {
// 			row-gap: 8px;
// 			flex: none;
// 			width: 100%;
// 			max-width: 276px;
// 		}
// 	}

// 	&__title {
// 		@media (min-width: $pc) {
// 			text-transform: none;
// 		}
// 	}

// 	&__content {
// 		min-width: 256px;
// 		flex: 1 0 0;
// 	}

// 	.widget-mob {
// 		display: flex;
// 		justify-content: center;
// 		flex-wrap: wrap;
// 		gap: 8px;

// 		@media (min-width: $pc) {
// 			gap: 24px;
// 		}
// 	}

// 	.widget {
// 		@media (min-width: $pc) {
// 			max-width: 176px;
// 			border-radius: 24px;

// 			&:last-child {
// 				order: -1;
// 			}
// 		}

// 		&__content {
// 			@media (min-width: $pc) {
// 				min-height: 172px;
// 				align-items: center;
// 				justify-content: center;
// 			}
// 		}

// 		&__value {
// 			@media (min-width: $pc) {
// 				font-size: 49px;
// 				flex: none;

// 				&:not(:last-child) {
// 					margin-bottom: 12px;
// 				}
// 			}

// 		}

// 	}
// }

// .offer {
// 	padding: 64px 0;

// 	@media (min-width: $pc) {
// 		padding: 128px 0;
// 	}

// 	&__container {
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 32px;

// 		@media (min-width: $pc) {
// 			row-gap: 64px;
// 		}
// 	}

// 	&__header {
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 4px;

// 		@media (min-width: $pc) {
// 			row-gap: 8px;
// 		}
// 	}

// 	&__body {
// 		display: flex;
// 		flex-wrap: wrap;
// 		justify-content: center;
// 		gap: 48px;

// 		@media (min-width: $pc) {
// 			column-gap: 124px;
// 			align-items: center;
// 			justify-content: space-between;
// 		}
// 	}

// 	&__content {
// 		display: flex;
// 		flex-wrap: wrap;
// 		gap: 16px;
// 		min-width: 256px;
// 		flex: 1 0 0;

// 		@media (min-width: $pc) {
// 			gap: 24px;
// 			flex: none;
// 			width: 100%;
// 			max-width: 676px;
// 		}
// 	}

// 	&__left-col {
// 		min-width: 256px;
// 		flex: 1 0 0;

// 		@media (min-width: $pc) {
// 			flex: none;
// 			width: 100%;
// 			max-width: 376px;
// 		}
// 	}

// 	&__text-block {
// 		position: relative;
// 		padding: 0 24px;

// 		&::after {
// 			content: "";
// 			width: 1px;
// 			height: 100%;
// 			position: absolute;
// 			right: 0;
// 			top: 0;
// 			background: var(--navigator-color-palette-amazon-skyline-100);
// 		}
// 	}

// 	&__badges {
// 		display: flex;
// 		flex-wrap: wrap;
// 		gap: 16px;
// 	}

// 	&__right-col {
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 24px;
// 		min-width: 256px;
// 		flex: 1 0 0;
// 	}

// 	&__text-holder {
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 24px;

// 		@media (min-width: $pc) {
// 			row-gap: 32px;
// 		}
// 	}

// 	&__badge {
// 		border-radius: 99px;
// 		background: var(--additional-colors-light-green);
// 		padding: 2px 6px;
// 		color: var(--additional-colors-100-green);
// 		font-size: 13px;
// 		flex-shrink: 0;

// 		&::before {
// 			font-size: 12px;
// 		}
// 	}

// 	&__image-holder {
// 		@media (min-width: $pc) {
// 			width: 376px;
// 			height: 408px;

// 			img {
// 				width: 100%;
// 				height: 100%;
// 				object-fit: cover;
// 			}
// 		}
// 	}

// }

// .accordion {
// 	padding: 64px 0;
// 	background: var(--additional-colors-back-for-accent);

// 	@media (min-width: $pc) {
// 		padding: 128px 0;
// 	}

// 	&__container {
// 		display: flex;
// 		flex-direction: column;
// 		gap: 32px;

// 		@media (min-width: $pc) {
// 			gap: 64px;
// 		}
// 	}

// 	&__content {
// 		display: flex;
// 		gap: 48px;
// 		flex-wrap: wrap;
// 		justify-content: center;

// 		@media (min-width: $pc) {
// 			gap: 124px;
// 		}
// 	}

// 	&__image-holder {
// 		width: 276px;
// 		height: 337px;

// 		@media (min-width: $pc) {
// 			img {
// 				width: 100%;
// 				height: 100%;
// 				object-fit: cover;
// 			}
// 		}
// 	}

// 	&__right-col {
// 		min-width: 256px;
// 		flex: 1 0 0;
// 	}

// 	.spollers {
// 		gap: 0;

// 		@media (min-width: $pc) {
// 			row-gap: 4px;
// 		}

// 		&__item {
// 			padding: 16px 8px;
// 			border-radius: 2px;
// 			transition: background 0.3s ease 0s;

// 			&[open] {
// 				background: var(--additional-colors-100-white);
// 				box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
// 			}

// 			@media (min-width: $pc) {
// 				padding: 24px 40px 24px 16px;
// 				border-radius: 4px;
// 			}

// 			@media (any-hover: hover) {
// 				&:hover {
// 					background: var(--additional-colors-100-white);
// 					box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
// 				}
// 			}
// 		}

// 		&__icon {
// 			flex-shrink: 0;
// 			width: 26px;
// 			height: 26px;
// 			border-radius: 50%;
// 			background: var(--navigator-color-palette-amazon-resin-50);
// 			display: flex;
// 			align-items: center;
// 			justify-content: center;

// 			&::before {
// 				transition: transform 0.3s ease 0s;
// 				font-size: 18px;
// 				color: var(--navigator-color-palette-goldendriedfruit-source);
// 			}

// 			@media (min-width: $pc) {
// 				width: 40px;
// 				height: 40px;

// 				&::before {
// 					font-size: 24px;
// 				}
// 			}
// 		}

// 		&__title {
// 			display: flex;
// 			column-gap: 24px;
// 			align-items: center;
// 			color: var(--navigator-color-palette-amazon-skyline-900);
// 			font-size: 20px;
// 			font-weight: 600;
// 			line-height: 1.5;
// 			text-transform: capitalize;
// 			padding-right: 24px;

// 			&::before {
// 				display: none;
// 			}

// 			&::after {
// 				display: none;
// 			}

// 			@media (min-width: $pc) {
// 				font-size: 31px;
// 				line-height: 1.3;
// 				padding-right: 0;
// 			}
// 		}

// 		&__body {
// 			color: var(--navigator-color-palette-amazon-skyline-800);
// 			font-size: 16px;
// 			line-height: 1.7;
// 			padding: 28px 24px 0 50px;
// 			position: relative;
// 			row-gap: 26px;

// 			&::before {
// 				content: "";
// 				position: absolute;
// 				top: 12px;
// 				left: 50px;
// 				width: calc(100% - 82px);
// 				height: 1px;
// 				background: var(--navigator-color-palette-amazon-skyline-100);
// 				opacity: 0;
// 				visibility: hidden;
// 				transition: opacity 0.7s ease 0s;
// 			}

// 			@media (min-width: $pc) {
// 				padding-top: 32px;

// 				&::before {
// 					top: 16px;
// 				}
// 			}
// 		}

// 		._spoller-active {
// 			.spollers__icon {
// 				&::before {
// 					transform: rotate(45deg);
// 				}
// 			}

// 			&+.spollers__body {
// 				&::before {
// 					opacity: 1;
// 					visibility: visible;
// 				}
// 			}
// 		}
// 	}

// 	.quote {
// 		border-radius: 0px 2px 2px 2px;
// 		background: var(--additional-colors-100-white);
// 		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);

// 		&--row {
// 			@media (min-width: $pc) {
// 				max-width: 100%;
// 			}
// 		}

// 		&__inner {
// 			@media (min-width: $pc) {
// 				flex-direction: column;
// 				row-gap: 24px;
// 				padding: 24px 16px 24px 24px;
// 			}
// 		}

// 		&__header {
// 			justify-content: space-between;
// 			min-width: 224px;
// 			flex: 1 0 0;

// 			@media (min-width: $pc) {
// 				width: 100%;
// 				flex: none;
// 			}
// 		}

// 		&__button {
// 			flex-shrink: 0;
// 		}

// 		&__call {
// 			color: var(--navigator-color-palette-amazon-skyline-700);
// 			font-size: 10px;
// 			font-weight: 500;
// 			display: flex;
// 			align-items: center;
// 			padding: 8px;
// 			column-gap: 6px;
// 			border-radius: 2px;
// 			background: var(--additional-colors-back-for-accent);
// 			transition: background 0.3s ease 0s;

// 			&::after {
// 				font-size: 20px;
// 			}

// 			@media (any-hover: hover) {
// 				&:hover {
// 					background: var(--navigator-color-palette-amazon-skyline-100);
// 				}
// 			}

// 			&:active {
// 				background: var(--navigator-color-palette-amazon-skyline-200);
// 			}
// 		}

// 		&__image-holder {
// 			left: -18px;
// 			right: unset;

// 			@media (min-width: $pc) {
// 				left: -36px;
// 			}
// 		}
// 	}
// }

// .header-accordion {
// 	display: flex;
// 	flex-wrap: wrap;
// 	row-gap: 24px;

// 	@media (min-width: $pc) {
// 		justify-content: space-between;
// 	}

// 	&__left-col {
// 		min-width: 256px;
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 4px;

// 		@media (min-width: $pc) {
// 			row-gap: 8px;
// 			min-width: 0;
// 		}
// 	}

// 	&__right-col {
// 		min-width: 256px;
// 		flex: 1 0 0;

// 		@media (min-width: $pc) {
// 			width: 100%;
// 			max-width: 776px;
// 			flex: none;
// 		}
// 	}
// }

// .benefits {
// 	padding: 64px 0 76px;

// 	@media (min-width: $pc) {
// 		padding: 128px 0 144px;
// 	}

// 	&__container {
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 32px;

// 		@media (min-width: $pc) {
// 			row-gap: 64px;
// 		}
// 	}

// 	&__header {
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 4px;
// 		text-align: center;

// 		@media (min-width: $pc) {
// 			row-gap: 8px;
// 		}
// 	}

// 	&__slider {
// 		overflow: visible;
// 		counter-reset: item;
// 	}

// 	&__wrapper {
// 		align-items: stretch;
// 	}


// }

// .slider-benefits {

// 	&__nav {
// 		margin-top: 44px;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;

// 		@media (min-width: $pc) {
// 			position: relative;
// 			justify-content: space-between;
// 			height: 24px;
// 			gap: 24px;
// 			padding: 0 16px;
// 			max-width: 776px;
// 			margin: 80px auto 0;

// 			.swiper-pagination {
// 				display: none;
// 			}
// 		}
// 	}
// }

// .slide-benefits {
// 	width: 100%;
// 	max-width: 256px;
// 	border-radius: 4px;
// 	border: 1px solid var(--navigator-color-palette-amazon-skyline-100);
// 	background: var(--additional-colors-100-white);
// 	position: relative;
// 	height: auto;

// 	@media (min-width: $pc) {
// 		max-width: 376px;
// 		border-radius: 12px;
// 	}

// 	&__inner {
// 		padding: 8px 50px 8px 16px;
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 12px;
// 		min-height: 254px;

// 		@media (min-width: $pc) {
// 			padding: 14.5px 63px 14.5px 15px;
// 			min-height: 304px;
// 			row-gap: 16px;
// 		}
// 	}

// 	&__icon-holder {
// 		position: absolute;
// 		top: 8px;
// 		right: 16px;
// 		border-radius: 50%;
// 		background: var(--navigator-color-palette-amazon-resin-50);
// 		width: 26px;
// 		height: 26px;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;

// 		&::before {
// 			font-size: 18px;
// 			color: var(--navigator-color-palette-goldendriedfruit-source);
// 		}

// 		@media (min-width: $pc) {
// 			width: 40px;
// 			height: 40px;

// 			&::before {
// 				font-size: 24px;
// 			}
// 		}
// 	}

// 	&__badges {
// 		display: flex;
// 		flex-wrap: wrap;
// 		gap: 8px;

// 		@media (min-width: $pc) {
// 			gap: 16px;
// 		}
// 	}

// 	&__badge {
// 		display: flex;
// 		flex-wrap: wrap;
// 		gap: 8px;
// 		color: var(--navigator-color-palette-amazon-skyline-700);
// 		font-size: 10px;
// 		padding: 2px 6px;
// 		border-radius: 99px;
// 		background: var(--navigator-color-palette-amazon-skyline-50);
// 	}

// 	&__title {
// 		color: var(--navigator-color-palette-amazon-skyline-900);
// 		font-size: 20px;
// 		font-weight: 600;
// 		line-height: 1.3;
// 		text-transform: capitalize;

// 		@media (min-width: $pc) {
// 			font-size: 31px;
// 		}
// 	}

// 	&__counter {
// 		display: none;

// 		@media (min-width: $pc) {
// 			display: block;
// 			position: relative;

// 			&::before {
// 				content: counter(item, decimal-leading-zero) ".";
// 				counter-increment: item;
// 				color: var(--navigator-color-palette-amazon-skyline-900);
// 				font-size: 20px;
// 				font-weight: 600;
// 				line-height: 1.5;
// 				text-transform: capitalize;
// 			}
// 		}
// 	}

// 	.badge {
// 		color: var(--navigator-color-palette-amazon-skyline-700);
// 		font-size: 10px;
// 		padding: 2px 6px;

// 		@media (min-width: $pc) {
// 			font-size: 13px;
// 			padding: 2px 8px;
// 		}
// 	}
// }

// .slider-benefints {
// 	&__scrollbar-wrapper {
// 		@media (min-width: $pc) {
// 			width: 100%;
// 			max-width: 664px;
// 			flex-shrink: 0;

// 			.swiper-scrollbar {
// 				position: static;

// 				&-drag {
// 					background: var(--navigator-color-palette-goldendriedfruit-source);
// 				}
// 			}
// 		}
// 	}
// }