@use "./variables" as *;
@use "./colors" as *;

button.button,
a.button {
	width: fit-content;
	display: inline-flex;
	align-items: center;
	column-gap: 4px;
	padding: 9px 12px;
	font-family: $fontFamily;
	font-size: 10px;
	line-height: 1.4;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--navigator-color-palette-amazon-skyline-50);
	border-radius: 2px;
	transition: background 0.3s ease 0s;
	cursor: pointer;

	@media (min-width: $pc) {
		font-size: $fontSize;
		padding: 15px 24px;
		column-gap: 6px;
	}

	&::after,
	&::before {
		font-size: 16px;

		@media (min-width: $pc) {
			font-size: 24px;
		}
	}

	&--icons {
		padding: 8px 24px;

		@media (min-width: $pc) {
			padding: 12px 24px;
		}
	}

	&--main {
		background: var(--navigator-color-palette-goldendriedfruit-source);
	}

	@media (any-hover: hover) {
		&:hover {
			background: var(--navigator-color-palette-goldendriedfruit-300);
		}
	}

	&:active {
		background: var(--navigator-color-palette-amazon-skyline-800);
	}

	&.blocked {
		background: var(--navigator-color-palette-amazon-skyline-100);
		color: var(--navigator-color-palette-amazon-skyline-200);
		pointer-events: none;

		svg {
			path {
				fill: var(--navigator-color-palette-amazon-skyline-200);
			}
		}
	}

	&--secondary {
		background: var(--navigator-color-palette-amazon-skyline-900);

		@media (any-hover: hover) {
			&:hover {
				background: var(--navigator-color-palette-amazon-skyline-600);
			}
		}

		&:active {
			background: var(--navigator-color-palette-amazon-skyline-source);
		}
	}

	&--watch {
		padding: 8px;
		color: var(--navigator-color-palette-amazon-skyline-700);
		font-weight: 500;
		text-transform: none;
		font-size: 10px;

		@media (any-hover: hover) {
			&:hover {
				background: var(--navigator-color-palette-amazon-skyline-100);
			}
		}

		&:active {
			background: var(--navigator-color-palette-amazon-skyline-200);
		}
	}

	&--radius {
		border-radius: 99px;
		background: var(--additional-colors-teal);
		padding: 8px 16px 8px 8px;
		column-gap: 8px;
		text-transform: none;
		font-weight: 500;
		font-size: $fontSize;

		&::before {
			border-radius: 50%;
			background: var(--navigator-color-palette-amazon-resin-50);
			color: var(--additional-colors-teal);
			padding: 3px;
			font-size: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		@media (min-width: $pc) {
			padding: 8px 16px 8px 8px;

			&::before {
				width: 26px;
				height: 26px;
				font-size: 18px;
			}
		}
	}

	&.blocked:focus {
		outline: none;
	}
}