:root {
	--navigator-color-palette-amazon-resin-source: rgb(28, 28, 28);
	--navigator-color-palette-amazon-resin-900: rgb(57, 57, 57);
	--navigator-color-palette-amazon-resin-800: rgb(75, 75, 75);
	--navigator-color-palette-amazon-resin-700: rgb(94, 94, 94);
	--navigator-color-palette-amazon-resin-600: rgb(114, 114, 114);
	--navigator-color-palette-amazon-resin-500: rgb(134, 134, 134);
	--navigator-color-palette-amazon-resin-400: rgb(155, 155, 155);
	--navigator-color-palette-amazon-resin-300: rgb(176, 176, 176);
	--navigator-color-palette-amazon-resin-200: rgb(198, 198, 198);
	--navigator-color-palette-amazon-resin-100: rgb(221, 221, 221);
	--navigator-color-palette-amazon-resin-50: rgb(243, 243, 243);

	--navigator-color-palette-amazon-skyline-source: rgb(50, 62, 72);
	--navigator-color-palette-amazon-skyline-900: rgb(50, 58, 65);
	--navigator-color-palette-amazon-skyline-800: rgb(67, 77, 85);
	--navigator-color-palette-amazon-skyline-700: rgb(84, 96, 106);
	--navigator-color-palette-amazon-skyline-600: rgb(103, 116, 127);
	--navigator-color-palette-amazon-skyline-500: rgb(123, 136, 147);
	--navigator-color-palette-amazon-skyline-400: rgb(145, 157, 167);
	--navigator-color-palette-amazon-skyline-300: rgb(168, 178, 187);
	--navigator-color-palette-amazon-skyline-200: rgb(192, 199, 207);
	--navigator-color-palette-amazon-skyline-100: rgb(216, 221, 226);
	--navigator-color-palette-amazon-skyline-50: rgb(242, 244, 245);

	--navigator-color-palette-goldendriedfruit-source: rgb(255, 158, 24);
	--navigator-color-palette-goldendriedfruit-900: rgb(95, 44, 0);
	--navigator-color-palette-goldendriedfruit-800: rgb(122, 58, 0);
	--navigator-color-palette-goldendriedfruit-700: rgb(149, 75, 0);
	--navigator-color-palette-goldendriedfruit-600: rgb(175, 93, 0);
	--navigator-color-palette-goldendriedfruit-500: rgb(199, 113, 0);
	--navigator-color-palette-goldendriedfruit-400: rgb(221, 135, 15);
	--navigator-color-palette-goldendriedfruit-300: rgb(238, 160, 69);
	--navigator-color-palette-goldendriedfruit-200: rgb(251, 185, 117);
	--navigator-color-palette-goldendriedfruit-100: rgb(255, 212, 169);
	--navigator-color-palette-goldendriedfruit-50: rgb(255, 241, 226);

	--navigator-color-palette-pearl-white-source: rgb(251, 251, 251);
	--navigator-color-palette-pearl-white-900: rgb(57, 57, 57);
	--navigator-color-palette-pearl-white-800: rgb(75, 75, 75);
	--navigator-color-palette-pearl-white-700: rgb(94, 94, 94);
	--navigator-color-palette-pearl-white-600: rgb(114, 11h4, 114);
	--navigator-color-palette-pearl-white-500: rgb(134, 134, 134);
	--navigator-color-palette-pearl-white-400: rgb(155, 155, 155);
	--navigator-color-palette-pearl-white-300: rgb(176, 176, 176);
	--navigator-color-palette-pearl-white-200: rgb(198, 198, 198);
	--navigator-color-palette-pearl-white-100: rgb(221, 221, 221);
	--navigator-color-palette-pearl-white-50: rgb(243, 243, 243);

	--additional-colors-teal: #3f97ba;
	--additional-colors-100-white: #fff;
	--additional-colors-100-green: #036b26;
	--additional-colors-light-green: #e7f6ec;
	--additional-colors-back-for-accent: #fbfbfb;
	--additional-colors-gray: #fef6e7;
	--additional-colors-dark-gray: #707070;
	--additional-colors-light-blue: #c9d2db;
	--additional-colors-light-gray: #eaeaea;
}